@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body {
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh; /* Full viewport height */
     background: radial-gradient(circle, #4a4a4a 0%, #000000 80%); /* Yellowish white to dark gray */
     font-family: Arial, sans-serif;
     color: white;
    text-align: center;
}

.fade-in {
    animation: fadeIn 3s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    gap: 20px; /* Space between text and image */
}

.text-container {
    text-align: center;
}

.image-container {
    position: relative;
    width: 300px; /* Set a fixed width for the image container */
    height: 300px; /* Set a fixed height for the image container */
    margin-top: 20px;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ensure the image fits the container */
    height: 100%; /* Ensure the image fits the container */
    object-fit: cover; /* Maintain aspect ratio, cover the container */
    border-radius: 50%; /* Optional: make the image circular */
  /*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for styling */
}

.image-container .inner-image {
    position: absolute;
    top: 50%; /* Center the inner image vertically */
    left: 50%; /* Center the inner image horizontally */
    transform: translate(-100%, -40%); /* Center alignment */
    width: 50%; /* Scale the inner image size */
    height: 50%; /* Scale the inner image size */
}

.image-container  img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure the inner image fits without distortion */
    border-radius: 50%; /* Optional: match circular styling */
}
.inner-image{
    width: 50%;
    height: 50%;
    object-fit: contain; /* Ensure the inner image fits without distortion */
    border-radius: 50%; /* Optional: match circular styling */
}



#atom {
    position: relative;
    width: 50%;
    height: 50%;
    left: 50%;
    display: inline-block;
    margin: 10px auto;
}

 .orbit, .electron, .orbitTrain, .electronTrain {
    position: absolute;
    top: 50%;
    left: -45px;
    bottom: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: auto;
}

#nucleus {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: auto;

    background: #2196F3;
    box-shadow: 0 0 15px #2196F3;
    -webkit-animation: shining 2s infinite linear;
    -moz-animation: shining 2s infinite linear;
    -ms-animation: shining 2s infinite linear;
    -o-animation: shining 2s infinite linear;
    animation: shining 2s infinite linear;
}

.orbit:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 0.5px solid rgba(0, 78, 255,0.15);
    border-radius: 50%;
}

.orbit {
    top:  50%;
    right: 0%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    border: 0;
    transform-style: preserve-3d;
    -webkit-animation: orbitSpecial 1.5s infinite linear;
    -moz-animation: orbitSpecial 1.5s infinite linear;
    -ms-animation: orbitSpecial 1.5s infinite linear;
    -o-animation: orbitSpecial 1.5s infinite linear;
    animation: orbitSpecial 1.5s infinite linear;
}
.orbit .electron {
    position: relative;
    top: 95px;
    width: 10px;
    height: 10px;
    background: #FF9800;
    box-shadow: 0 0 15px #FF9800;
    border-radius: 50%;
    transform: translateX(100px);
    -webkit-animation: electronAnimation 1.5s infinite linear;
    -moz-animation: electronAnimation 1.5s infinite linear;
    -ms-animation: electronAnimation 1.5s infinite linear;
    -o-animation: electronAnimation 1.5s infinite linear;
    animation: electronAnimation 1.5s infinite linear;
}

.orbit:nth-child(4) {
    transform: rotateY(65deg) rotateX(5deg);
    animation-delay: -1s;
}
.orbit:nth-child(4) .electron {
    animation-delay: -1s;
}

.orbit:nth-child(2) {
    transform: rotateY(65deg) rotateX(-54deg);
    animation-delay: -1s;
    animation-duration: 1s;
}
.orbit:nth-child(2) .electron {
    animation-duration: 1s;
}

.orbit:nth-child(3) {
    transform: rotateY(65deg) rotateX(54deg);
}

@-webkit-keyframes electronAnimation {
    0% {
        transform: rotateZ(0deg) translateX(100px) rotateZ(0deg) rotateY(-65deg);
    }
    100% {
        transform: rotateZ(360deg) translateX(100px) rotateZ(-360deg) rotateY(-65deg);
    }
}
@-moz-keyframes electronAnimation {
    0% {
        transform: rotateZ(0deg) translateX(100px) rotateZ(0deg) rotateY(-65deg);
    }
    100% {
        transform: rotateZ(360deg) translateX(100px) rotateZ(-360deg) rotateY(-65deg);
    }
}
@-ms-keyframes electronAnimation {
    0% {
        transform: rotateZ(0deg) translateX(100px) rotateZ(0deg) rotateY(-65deg);
    }
    100% {
        transform: rotateZ(360deg) translateX(100px) rotateZ(-360deg) rotateY(-65deg);
    }
}
@-o-keyframes electronAnimation {
    0% {
        transform: rotateZ(0deg) translateX(100px) rotateZ(0deg) rotateY(-65deg);
    }
    100% {
        transform: rotateZ(360deg) translateX(100px) rotateZ(-360deg) rotateY(-65deg);
    }
}
@keyframes electronAnimation {
    0% {
        transform: rotateZ(0deg) translateX(100px) rotateZ(0deg) rotateY(-65deg);
    }
    100% {
        transform: rotateZ(360deg) translateX(100px) rotateZ(-360deg) rotateY(-65deg);
    }
}
@-webkit-keyframes orbitSpecial {
    0% {
        border: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
    35% {
        border: 0;
        border-right: 1px solid rgba(255, 255, 255, 0.5);
    }
    70% {
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    100% {
        border: 0;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
}
@-moz-keyframes orbitSpecial {
    0% {
        border: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
    35% {
        border: 0;
        border-right: 1px solid rgba(255, 255, 255, 0.5);
    }
    70% {
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    100% {
        border: 0;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
}
@-ms-keyframes orbitSpecial {
    0% {
        border: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
    35% {
        border: 0;
        border-right: 1px solid rgba(255, 255, 255, 0.5);
    }
    70% {
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    100% {
        border: 0;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
}
@-o-keyframes orbitSpecial {
    0% {
        border: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
    35% {
        border: 0;
        border-right: 1px solid rgba(255, 255, 255, 0.5);
    }
    70% {
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    100% {
        border: 0;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
}
@keyframes orbitSpecial {
    0% {
        border: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
    35% {
        border: 0;
        border-right: 1px solid rgba(255, 255, 255, 0.5);
    }
    70% {
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    100% {
        border: 0;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
}
@-webkit-keyframes shining {
    0% {
        box-shadow: 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 40px #2196F3;
    }
    100% {
        box-shadow: 0 0 0 transparent;
    }
}
@-moz-keyframes shining {
    0% {
        box-shadow: 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 40px #2196F3;
    }
    100% {
        box-shadow: 0 0 0 transparent;
    }
}
@-ms-keyframes shining {
    0% {
        box-shadow: 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 40px #2196F3;
    }
    100% {
        box-shadow: 0 0 0 transparent;
    }
}
@-o-keyframes shining {
    0% {
        box-shadow: 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 40px #2196F3;
    }
    100% {
        box-shadow: 0 0 0 transparent;
    }
}
@keyframes shining {
    0% {
        box-shadow: 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 40px #2196F3;
    }
    100% {
        box-shadow: 0 0 0 transparent;
    }
}